/*
	@theme Darkvmc 
	@override-placeholders html, xml, css, php, js, php-html
	@author Diego Ghersi [diego@ghersi.com.ar]
	@web-site http://www.ghersi.com.ar
	@version 0.2
*/

@base {
    color: #E0E0E0;
    background-color: #1c1c1a;
    insertion-point-color: #FF0000;
    selection-background-color: #706040;
    current-line-background-color: #000;
} 

* { spell-check: disabled; }

string.quoted {
	color: #448C27;
}

constant.numeric, literal.numeric, literal.character, literal.keyword {
	color: #b16c2e;
}

storage.type {
	color: #ca9be6;
}

operator {
	color: #532f2f;
}

invalid {
	color: #e92323;
}

/* @end */

/* @group HTML */

entity.name, tag > name, tag {
	color: #f2e769;
}

html .string.quoted {
	color: #46f646;
}

/* Deprecated elements */
entity.name[text='applet'],
entity.name[text='basefont'],
entity.name[text='center'],
entity.name[text='dir'],
entity.name[text='font'],
entity.name[text='isindex'],
entity.name[text='menu'],
entity.name[text='s'],
entity.name[text='strike'],
entity.name[text='u'] {
	background: rgba(150, 0, 0, .08);
}

entity.character {
	color: #AB6526;
}

attribute-name {
	color: #fb1bfb;
}

tag.doctype, tag.doctype entity.name {
	color: #81fafd;
}

/* @end */
 
/* @group CSS */

css { spell-check: disabled; }

css constant.numeric, css literal.numeric, css literal.character, css literal.keyword {
	color: #fb1bfb;
}

css punctuation { color: #81fafd;
}

css property-value > punctuation.separator.css,
css property-value > punctuation.terminator.rule.css {
	color: #81fafd;
	font-weight: 800;
}

css > property-name {
	color: #46f646;
}

css property-value, css string.quoted {
	color: #ff3a3a;
}

css.selector, css.selector > entity > punctuation {
	color: #f2e769;
}

css keyword.important, keyword.important.css {
	font-weight: bold;
	color: #ff3a3a;
}

css comment, css comment punctunation,
css comment.block.css,
css comment punctuation.begin,
css comment punctuation.end {
	color: #98fafd;
}

css color, css punctuation.definition.constant {
	color: #fb1bfb;
}

css .group-start .name, css group-start.comment.block.css, css group-end.comment.block.css {
	color: #98fafd;
	font-weight: bold;
}

embedded.styling.css, embedded.property-list.css {
	background: #EFE8F3;
}

/* @end */

/* @group Javascript */

js.embedded {
	background: #EAEBE6;
}

js keyword.operator.new, js variable.language {
	color: #7a3e9d;
}

js meta, js parameters.begin, js parameters.end, js punctuation.terminator {
	color: #777;
}

js entity.name {
	color: #333;
	font-weight: bold;
}

/* @end */

/* @group PHP */

php delimiter.source, php delimiter.source > keyword.definition, php punctuation {
	color: #ff3a3a;
}

php class name, php name, php function > name, php keyword.definition, php keyword.function, php > keyword.definition {
	color: #fb1bfb;
}

php string.quoted, .php operator, php keyword.control, keyword.modifier,
keyword.constant, identifier.constant, keyword.definition,
language.constant, php modifier, php keyword.constant.class,
php keyword.modifier {
	color: #ff3a3a;
}

php comment, php comment punctuation {
	color: #98fafd;
}

php integer.numeric {
	color: #ffffff;
}

php > variable, php string.double > variable {
	color: #fbed59;
}

php keyword.constant.other {
	color: #f9efef;
	background-color: #e1c9c9;
}

php operator.pointer, php delimiter.pointer {
	color: #ff3a3a;
}

php identifier.function > name, php literal.keyword {
	color: #97d87c;
	font-weight: normal;
	background-color: #d8a2a2;
}

php identifier.function {
	color: #AA3731;
	background-color: #c97a7a;
}

php literal.keyword.bool, php literal.keyword.null {
	color: #AB6526;
	background-color: #d17c7c;
}

php identifier.function parenthesis, php identifier.function square-brace, php identifier.function comma {
	color: #333;
	background-color: #ebc9c9;
}

container.block.embedded.source.php {
	background-color: #b8c8de;
}

php variable operator, php function variable, php block variable {
	color: #d5034d;
	background-color: #d18787;
}

php if function parenthesis, php elseif function parenthesis,
php while function parenthesis, php switch function parenthesis,
php for function parenthesis, php foreach function parenthesis {
	color: #381616;
	background-color: #cd4242;
}

php block function function parenthesis {
	color: #c71414;
	background-color: #d99090;
}

php class.static class.name {
	color: #f1918d;
	background-color: #dda0a0;
}

php class.static property.name {
    color: #d47423;
	background-color: #d35f5f;
}

/* @end */

/* @group Bash */

bash identifier.function {
	color: #333;
	font-weight: normal;
}

bash identifier.variable {
	color: #7a3e9d;
}

/* @end */
